body {
    background-color: #ededed;
}

table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

th {
    border-bottom: 1px solid black;
}

th,
td {
    padding: 5px;
}

thead {
    background-color: pink;
    color: white;
}

td {
    text-align: center;
    border-bottom: 1px dashed white;
}

tr:last-child td {
    border-bottom: none;
}