
table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

th {
    border-bottom: 1px solid black;
}

th,
td {
    padding: 5px;
}

thead {
    background-color: #36c7af;
    color: white;
    font-family: 'Cairo', sans-serif;

}

td {
    text-align: center;
    border-bottom: 1px dashed #36c7af;
    font-family: 'Cairo', sans-serif;
}

tr:last-child td {
    border-bottom: none;
}

h1 {
    font-family: 'Cairo', sans-serif;
    color: #36c7af;
    font-size: 65px;
    margin-left: 5%;
    margin-right: 5%;
}

.headerOne {
    background-color: white;
}

h2 {
    font-family: 'Cairo', sans-serif;
    margin-left: 5%;
}

h3 {
    font-family: 'Cairo', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: right;
}

h4 {
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

input {
    padding: 5px;
    margin: 7px;
    font-family: 'Cairo', sans-serif;
    color: black;
    border-radius: 5px;
}

.form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    
}

#submitButton {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Cairo', sans-serif;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.calculator {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    border-radius: 5px;
    box-shadow: 0px 1px 10px black;
    background-color: white;
}

body {
    margin: 0px;
    background-color: #e3fffe;
}

.delete {
    font-family: 'Cairo', sans-serif;
    background-color: black;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
}